html {
  font-size: 62.5%; /* 16px x 62.5 = 10px = 1rem */
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg stroke='%23CCC' stroke-width='0' %3E%3Crect fill='%23F5F5F5' x='-60' y='-60' width='110' height='240'/%3E%3C/g%3E%3C/svg%3E");
}
#root{
  height: 100%;
}

/* Layout */
.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}
header {
  grid-area: header;
  background-color: #242528;
  height: 70px;
  -webkit-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.4);
}
main {
  grid-area: main;
  padding: 1rem;
  margin-top: 20px;
}
footer {
  grid-area: footer;
  background-color: #242528;
  color: #ffffff;
}
/* Common */
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.6rem;
  padding: 1rem 0;
}

a {
  text-decoration: none;
}
a:hover {
  color: #ff8000;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li {
  margin-top: 1rem;
}
input, select, textarea,
button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button {
  background-color: #f8f8f8;
  cursor: pointer;
}

button.primary{
  background-color: #f0c040;
}

button.block {
  width: 100%;
}
input:hover, select:hover, textarea:hover,
button:hover{
  border: 0.2rem solid #404040 
}

/* Header */
header a {
  color: #ffffff;
  padding: 1rem;
}
a.brand {
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 2px;
  margin: 0 auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.row.center {
  justify-content: center;
}
.row.top {
  align-items: flex-start;
}

.col-1{
  flex: 1 1 25rem;
}
.col-2 {
  flex: 2 1 50rem;
}
.col-2.proimage {
  flex: 2 1 50rem;
  display: flex;
  justify-content: center;
}
.min-30{
  min-width: 30rem;
}

.badge{
  background-color: yellow;
  color: red;
  border-radius: 50%;
  padding: 0.2rem 0.7rem;
  margin-left: 0.2rem;
  font-size: 1.4rem;
  font-weight: bold;
}

/* Image */
img {
  border-radius: 0.5rem;
}
img.medium {
  max-width: 29rem;
  width: 100%;
  height: 450px;
}
img.large{
  width: 100%;
}
img.small {
  max-width: 5rem;
  width: 100%;
}
.product-image {
  width: 600px;
}
/*form*/
.form {
  max-width: 50rem;
  margin: 0 auto;
}
.form > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.form label{
  margin: 1rem 0;
  display: block;
}

/* Card */
.card {
  border: 0.1rem #c0c0c0 solid;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  margin: 1rem;
  -webkit-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.4);
}
.card-body {
  padding: 1rem;
}
.card-body > * {
  margin-bottom: 0.5rem;
}
.card-body a h2{
  font-size: 1.5rem;
}

.price {
  font-size: 2rem;
}
/* Rating */
.rating span {
  color: #f0c040;
  margin: 0.1rem;
}

/*Alert*/
.loading {
  display: block !important;
}
.success {
  color: #20a020
}
.error {
  color: #a02020
}

.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius:  0.5rem;
}

.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}

.alert-danger {
  color: #a02020;
  background-color: #ffe0e0;
}

/*dropdown*/

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-content {
  position: absolute;
  display: none;
  right: 0;
  min-width: 12rem;
  padding: 1rem;
  z-index: 1;
  background-color: #203040;
  margin: 0;
  margin-top: 0.4rem;
  border-radius: .5rem;
}
.dropdown:hover .dropdown-content {
  display: block;
}

/*table*/
.table, th, td {
  border: 1px solid #242528;
  padding: 1rem 2rem;
}
.table {
  margin: 0 auto;
  border-collapse: collapse;
  background-color: #f8f8f8;
  -webkit-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.4);
}

.payment-button {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}